<tr>
    <td>1</td>
    <td>Username</td>
    <td>example@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn border-shadow update"><i class="fas fa-pencil-alt"></i></a>
        <a href="" class="btn border-shadow delete"><i class="fas fa-times"></i></a>
    </td>
</tr>